<tr>
    <th scope="row">@Patient.Id</th>
    <td>@Patient.SecondName</td>
    <td>@Patient.FirstName</td>
    <td>@Patient.ThirdName</td>
    <td>@Patient.Sex</td>
    <td>@Patient.BirthDate</td>
    <td>@Patient.MedNumber</td>
    <td>@Exam.XRayName</td>
    <td>@Exam.XRayDose</td>
    <td>@Exam.XRayShots</td>
    <td>@Exam.XRayDate</td>
    <td>@Exam.Category</td>
    <td>@Exam.XRayDiagnose</td>
    <td>@Exam.XRayPatology</td>
    <td>@Exam.XRayCost</td>
    <td>@Exam.Doctor</td>
    <td>@Exam.Laborant</td>
    <td>@Exam.XRayModality</td>
    <td>@Exam.InOperation</td>
    <td>@Exam.Contrast</td>
</tr>

@code {
    [Parameter]
    public PatientOutputModel Patient { get; set; }
    [Parameter]
    public XRayExamOutputModel Exam { get; set; }

}
